.logo_png{
    width: 100px;
    height: 100px;
    position: relative;
    right: 130px;
    top: 10px;
}

.right_section{
    display: flex;
    align-items: center;
}

h1{
    text-align: center;
    color: white;
    padding: 40px;
}

.nav-link{
    font-size: 20px;
    padding: 10px;
}

.text-end img{
    position: relative;
    cursor: pointer;
    padding: 10px;
}

a:hover{
    transition-property: font-size;
    font-size: 22.5px;
    transition-duration: 0.3s;
}

a{
    transition: all 0.3s ease;
    position: relative;
    top: 20px;
    font-size: 22px;
    
}

.width_a{
    width: 400px;
    background-color: #393E46;
    border-right: none;
}

.search_button{
    background-color: #00ADB5;
    width: 100px;
    border-radius: 5px;   
}

header{
    align-items: center;
}

.container{
    display: flex;
}


main{
    background-color: #40454C;
}

main p{
    font-size: 18px;
}

.price_cnt{
    display: flex;
    flex-direction: row;
    gap: 15px;
}   

.item{
    width: 100%;
    border-radius: 5px;
}

.items2{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 150px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:25px;
   
}

.description img{
    position: relative;
    top: 50px;
}

    
.item_card{
    width: 18%;
    background-color: #00ADB5;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about_us{
    background-color: #00ADB5;
    width: 100%;
    height: 600px;
    padding: 50px; 
    border-top: 3px solid lightgray
}

.beauty_img1_1{
    width: 250px;
    height: 250px;
}

.beauty_img1_2{
    width: 250px;
    height: 250px;
}

.description{
    display: flex;
    flex-direction: row;
}

.about_us h1{
    text-align: center;
}

.about_us p{
    padding: 50px;
    font-size: 20px;
}

.contacts{
    width: 100%;
    background-color: #40454C;
}

.contacts img{
    width: 200px;
    height: 200px;
    
    cursor: pointer;

}

.imgs{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px
}

.contacts p{
    color: white;
    font-size: 19px;
}

.span1{
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.price_cnt img{
    cursor: pointer;
}

.search_button:hover{
    transition-property: background-color;
    background-color: rgb(129, 203, 228);
    transition-duration: 0.5s;
}

.price_cnt{
    display: flex;
    align-items: center;
}
footer{
    border-top: 3px solid lightgray;
}