.logo_png{
    width: 100px;
    height: 100px;
    position: relative;
    right: 150px;
}

.nav-link{
    font-size: 20px;
    padding: 10px;
}

.text-end img{
    margin-right: 40px;
    position: relative;
    left: 100px;
}

.width_a{
    width: 500px;
    background-color: #393E46;
    border-right: none;
}

.search_button{
    background-color: #00ADB5;
    width: 100px;
    border-radius: 5px;   
}

header{
    align-items: center;
}

